<mat-card>
  <form [formGroup]="form" (ngSubmit)="formSubmit()">
    <mat-card-title>Register</mat-card-title>
    <mat-card-subtitle>Register new user</mat-card-subtitle>

    <mat-card-content class="center-content">
      <div>
        <div class="form-row">
          <mat-form-field class="full-width">
            <input
              matInput
              formControlName="firstName"
              placeholder="First Name"
            />
            <mat-error>
              {{ getError('firstName') }}
            </mat-error>
          </mat-form-field>
          <mat-form-field class="full-width">
            <input
              matInput
              formControlName="lastName"
              placeholder="Last Name"
            />
            <mat-error>
              {{ getError('lastName') }}
            </mat-error>
          </mat-form-field>
        </div>
        <div class="form-row">
          <mat-form-field class="full-width">
            <input matInput formControlName="email" placeholder="Email" />
            <mat-error>
              {{ getError('email') }}
            </mat-error>
          </mat-form-field>
        </div>
        <div class="form-row">
          <mat-form-field class="full-width">
            <input
              matInput
              type="password"
              formControlName="password"
              placeholder="Password"
            />
            <mat-error>
              {{ getError('password') }}
            </mat-error>
          </mat-form-field>
          <mat-form-field class="full-width">
            <input
              matInput
              type="password"
              formControlName="repeatPassword"
              placeholder="RepeatPassword"
            />
            <mat-error>
              {{ getError('repeatPassword') }}
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>

    <div>
        <mat-error> {{ getError() }} &nbsp;</mat-error>
    </div>

    <mat-card-actions [align]="'end'">
      <button mat-button type="submit" role="submit" [disabled]="registering">
        Register
      </button>
      <button mat-button type="button" (click)="formClear()">Clear</button>
    </mat-card-actions>
  </form>
</mat-card>
